@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;700&display=swap');

* {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	outline: none;
	list-style: none;
	text-decoration: none;
}

/* || VARIABLE */

:root {
	/* FONTS */
	--FF: 'Poppins', sans-serif;
	--FF-HEADINGS: 'Poppins', sans-serif;

	/* COLOR */
	--BODY-BGCOLOR: #ffffff;
	--FONT-COLOR: #000;
	--heading-color: #036282;
}

/* || GENERAL STYLES */
html {
	scroll-behavior: smooth;
}

img {
	width: 100%;
	height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	line-height: 1.4;
	font-weight: 600;
}

h2 .logo {
	text-transform: uppercase;
}

.section-padding {
	padding: 80px 0;
}

.text-center {
	text-align: center !important;
}

/* header */

header {
	position: relative;
}

.web-heading {
	color: #097da4;
	font-size: 3rem;
}


/* nav */
nav {
	display: flex;
	align-items: center;
	justify-content: space-between;
	position: relative;
	background-color: #124556;
	height: 80px;
	width: 100%;
	padding: 1rem 4rem;
}

.logo {
	color: #ffffff;
	font-size: 1.7rem;
	cursor: pointer;
}

nav ul li {
	display: inline-block;
	list-style: none;
	padding: .8rem .9rem;
}

nav ul li a {
	color: #ffffff;
	padding: .7rem .7rem;
	border-radius: .5rem;
	font-weight: 400;
	font-size: 1.2rem;
	text-transform: uppercase;
}

a.active,
a:hover,
a:focus {
	background-color: #0d5f7a;
	;
	color: #ECF8FF;
	transition: .5s;
}

/* cover_photo */
.content-items img {
	width: 25rem;
	height: 25rem;
	margin: 0 37%;
}

.developer-text {
	margin-bottom: 3rem;
}

/* TECHOLOGIES */
.tech-section {
	background-color: #dbdbdb;
}

.tech-heading {
	color: var(--heading-color);
	font-size: 2rem;
	display: inline-block;
	padding: 1.5rem 0;
}

.tech-text {
	font-size: 1.3rem;
}

/* PROJECTS */
.project-heading {
	color: var(--heading-color);
	font-size: 2rem;
	display: inline-block;
	padding: 1.5rem 0;
}

.project-text {
	font-size: 1.3rem;
	padding-bottom: 2rem;
}

/* BOlGS */
.blogs-section {
	background-color: #dbdbdb;
}

.blogs-heading {
	color: var(--heading-color);
	font-size: 2rem;
	display: inline-block;
	padding: 1.5rem 0;
}

.blogs-text {
	font-size: 1.3rem;
	padding-bottom: 2rem;
}

/* project - button */

.project-btn {
	padding: 0.6em 2.3em;
	border-radius: 1rem;
	border-color: #ECF8FF;
	cursor: pointer;
	font-size: 1em;
	color: #0d5f7a;
	background-image: linear-gradient(45deg, transparent 50%, #0d5f7a 50%);
	background-position: 25%;
	background-size: 400%;
	-webkit-transition: background 500ms ease-in-out, color 500ms ease-in-out;
	transition: background 500ms ease-in-out, color 500ms ease-in-out;
}

.project-btn:hover {
	color: #ECF8FF;
	background-position: 100%;
}

/* footer */
footer {
	padding-top: 4.5rem;
	background-color: #124556;
}

.footer-heading {
	color: #ECF8FF;
	font-size: 2rem;
}

.foolink{
	padding: 1rem 0 1.5rem;
}

.footer-link {
	display: inline-flex;
	color: #ECF8FF;
	border-radius: 7px;
	padding: .5rem .5rem;
}

.footer-link a.active,
.footer-link a:hover,
.footer-link a:focus {
	background-color: #0d5f7a;
	color: #ECF8FF;
	transition: .5s;
}

.copyrights {
	padding-bottom: 2.5rem;
	color: #ECF8FF;
}

.craft-text:hover{
	color: #ECF8FF;
	background-color: #0d5f7a;
	padding: .5rem .5rem;
	border-radius: 10px;
	transition: .5s;
}
