@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;700&display=swap');

* {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	outline: none;
	list-style: none;
	text-decoration: none;
}

/* || VARIABLE */

:root {
	/* FONTS */
	--FF: 'Poppins', sans-serif;
	--FF-HEADINGS: 'Poppins', sans-serif;

	/* COLOR */
	--BODY-BGCOLOR: #ffffff;
	--FONT-COLOR: #000;
}

/* || GENERAL STYLES */
html {
	scroll-behavior: smooth;
}

img {
	width: 100%;
	height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	line-height: 1.4;
	font-weight: 600;
}

h2 .logo {
	text-transform: uppercase;
}

.section-padding {
	padding: 80px 0;
}

.text-left {
	text-align: left !important;
}

/* header */

header {
	position: relative;
}


/* nav */
nav {
	display: flex;
	align-items: center;
	justify-content: space-between;
	position: relative;
	background-color: #124556;
	height: 80px;
	width: 100%;
	padding: 1rem 4rem;
}

.logo {
	color: #ffffff;
	font-size: 1.7rem;
	cursor: pointer;
}

nav ul li {
	display: inline-block;
	list-style: none;
	padding: .8rem .9rem;
}

nav ul li a {
	color: #ffffff;
	padding: .7rem .7rem;
	border-radius: .5rem;
	font-weight: 400;
	font-size: 1.2rem;
	text-transform: uppercase;
}

a.active,
a:hover,
a:focus {
	background-color: #0d5f7a;
	;
	color: #ECF8FF;
	transition: .5s;
}

/* cover_photo */
.content-items img {
	width: 25rem;
	height: 25rem;
	margin: 0 37%;
}